{{- range $driver, $stages := . }}
## Driver: {{ $driver }}

Stage | Name | Pos | Stage Time | Δ to Winner | Penalty | Comment
---|---|---|---|---|---|---
{{- range $stages }}
{{ printf "%d" .StageNum }} | {{ .StageName }} | {{ printf "%d" .Position }} | {{ formatStageTime .StageTime }} | {{ formatDelta .DeltaToWinner }} | {{ formatPenalty .Penalty }} | {{ printf "%q" .Comments }}
{{- end }}

{{ end -}}