{{- range $driver, $report := . }}
## Driver: {{ $driver }}

| Metric              | {{pad $driver 20}} | Field Avg  | Rank   |
|:-------------------:|:--------------------:|:----------:|:------:|
{{- range $report.Overall}}
| {{ pad .Metric 19 }} | {{ pad .DriverValue 20 }} | {{ pad .FieldAvg 10}} | {{ pad .RankText 6 }} |
{{- end }}

| SS  | Name                              | Pos |   Time    |    Delta     | Pen |
|:---:|:---------------------------------:|:---:|:---------:|:------------:|:---:|
{{- range $report.Stages }}
| {{ padNum .StageNum 3 }} | {{ pad .StageName 33 }} | {{ padNum .Position 3}} | {{ formatStageTime .StageTime }} | {{ formatDelta .DeltaToWinner }} | {{ formatPenalty .Penalty }} |
{{- end }}

{{end -}}