# Rally Result

| Pos | Driver               | Pnts |
|-----|----------------------|------|
{{- range .Rally}}
| {{printf "%3s" .Raw.Position}} | {{ pad .Raw.UserName 20 }} | {{ padNum .Points 4}} |
{{- end}}

# Overall Standings
| Pos | Driver               | Pnts |
|-----|----------------------|------|
{{- range $i, $s := .Championship}}
| {{ printf "%3d" (add $i 1) }} | {{ pad $s.UserName 20 }} | {{ padNum $s.Points 4 }} |
{{- end}}
